:root {
  // Main
  --pomodoro: #ff6347;
  --pomodoro-dark-rgb: 230, 61, 31;
  --pomodoro-dark-hex: #E63D1F;

  // Black & White
  --white: #fff;
  --black: #000;

  // Grey
  --grey-light-1: #f6f6f6;
  --grey-light-2: #cbcbcb;
}